body {
  font: 22px "Century Gothic", sans-serif;
  margin: 20px;
}

.create-button {
  margin-right: 5px;
  width: 4.5em;
  height: 2.0em;
}

.join-button {
  width: 4.5em;
  height: 2.0em;
}

.join-button-class {
  margin: .3125em; 
  padding: .5em 1.8em; 
  margin-bottom: 1em; 
}

.button-class {
  margin: .3125em; 
  padding: .5em 1.8em; 
}